<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>双Label并排显示.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69DBF9E71CFD85E700E668A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69DBFA001CFD85E700E668A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69DBFA0B1CFD85E700E668A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
